
<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a id="icon" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}"><i class="fa fa-home fa-fw w3-hover-opacity"></i> Blog Home</a>
      <a id="icon" class="sidebar-nav-item" href="/research"><i class="fa fa-bar-chart-o fa-fw w3-hover-opacity"></i> Research</a>
      <a id="icon" class="sidebar-nav-item" href="/about"><i class="fa fa-question-circle-o fa-fw w3-hover-opacity"></i> About</a>
      <a id="icon" class="sidebar-nav-item" href="/contact"><i class="fa fa-address-card-o fa-fw w3-hover-opacity"></i> Contact</a>
      <a id="icon" href="{{ site.github.repo }}" target="_blank"><i class="fa fa-github fa-fw w3-hover-opacity"></i>&nbsp;</a><a id="icon" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-fw w3-hover-opacity"></i>&nbsp;</a><a id="icon" href="https://www.instagram.com/{{ site.instagram }}" target="_blank"><i class="fa fa-instagram fa-fw w3-hover-opacity"></i>&nbsp;</a><a id="icon" href="https://www.twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter fa-fw w3-hover-opacity"></i>&nbsp;</a><a id="icon" href="/atom.xml" target="_blank"><i class="fa fa-rss fa-fw w3-hover-opacity"></i></a>
      <!---
      <ul class="list-inline">
          <li>
            <a id="icon" href="{{ site.github.repo }}" target="_blank"><i class="fa fa-github fa-fw"></i></a>
          </li>
          <li>
            <a id="icon" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
          </li>
          <li>
            <a id="icon" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-rss fa-fw"></i></a>
          </li>
        </ul>
        --->
      <!--- <a class="sidebar-nav-item" href="{{ site.github.repo }}" target="_blank">GitHub</a> --->
      <hr>
    <p>&copy; {{ site.time | date: '%Y' }}. <a href="/about/Brammer">Chris Brammer</a>. All contents under 
	<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">(CC) BY-NC-SA license</a>, 
	unless otherwise noted.</p>
  </div>
</div>

