---
layout: default
---

<div class="post">
  <h1 >{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} {% if page.tags.size < 1 %} {% else %}| <i class="fa fa-tags" style="font-size: .8em"></i> {% for tag in page.tags %}
    <a href="{{ site.url }}/archive/tags/#{{ tag }}" style="font-size: 16px;">{{ tag }}&nbsp;</a>
  {% endfor %} {% endif %} </span>
  {% if post.image %}
	    <p>
	    	<a href="{{ post.url }}"><img class="centered" src="/public/images/{{post.image}}" alt=""></a>
    	</p>
  {% endif %}
  {{ content }}
</div>
{% include share-bar.html %}
<div class="pagination">
  {% if page.previous %}
	  <a class="pagination-item older" href="{{ page.previous.url }}" title="Previous post"><i class="fa fa-lg fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  <a class="pagination-item" href="/archive/" title="an archive of all posts">Blog Archive</a>
  {% if page.next %}
    {% if page == 2 %}
	  <a class="pagination-item newer" href="{{ page.next.url }}" title="Next post">Newer&nbsp;&nbsp;&nbsp;<i class="fa fa-lg fa-chevron-right"></i></a>
    {% else %}
      <a class="pagination-item newer" href="{{ page.next.url }}">Newer&nbsp;&nbsp;&nbsp;<i class="fa fa-lg fa-chevron-right"></i></a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% include disqus.html %}

<!---
  <span class="post-date">{{ page.date | date_to_string }} | {% if page.tags %} {% for tag in page.tags %}
  <span class="graybuttontag">
    <a href="{{ site.url }}/archive/tags/#{{ tag }}" style="font-size: 16px;"><i class="fa fa-tags" style="font-size: .8em"></i>&nbsp;{{ tag }}</a>
  </span>&nbsp;
  {% endfor %} {% endif %} </span>
  
<div class="related">
	{% if page.categories %}
	<span class="related-posts">
		Published in categories
		{% for cat in page.categories %}
		<a href="{{ site.url }}/blog/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
		{% endfor %}
	</span>
	{% endif %}
	<p></p>
	{% if page.tags %}
	<span class="related-posts">
		Tagged with 
		{% for tag in page.tags %}
		<a href="{{ site.url }}/blog/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
		{% endfor %}
	</span>
	{% endif %}
	<p></p>
	<p><a class="graybutton" href="/blog/archive/" title="an archive of all posts">Blog Archive</a></p>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
  <a class="graybutton" href="/blog/archive/" title="an archive of all posts">Blog Archive</a>
</div>
--->
